<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Exercicios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <div id="ficha-visualizacao">

    <h1>Exercicios Criados</h1>
    {% if exercicios %}
        <ul>
            {% for exercicio in exercicios %}
                <li>
                    <strong>{{ exercicio.nome_exerc }}</strong> 
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há Exercícios cadastrados.</p>
    {% endif %}
 

<button class="main-button" onclick="window.location.href='/'">Voltar</button>
</div>
</body>
</html>
